<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./src/imgs/pngwing.com.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Cv</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../imgs/pngwing.com.png" alt="logo oficial" />

        <div>
          <nav>
            <ul>
              <li>
                <a href="/index.html">Home</a>
                <a href="./aboutMe.html">About me</a>
                <a href="./portfolio.html">Portfolio</a>
                <a href="./contact.html">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="portfolio">
      <div>
        <h2>Social Media</h2>
        <div class="media">
          <ul>
            <li>
              <a href="https://es-la.facebook.com/"
                ><img src="../imgs/facebook.png" alt="enlace a facebook"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"
                ><img src="../imgs/instagram.png" alt="enlace a instagram"
              /></a>
            </li>
            <li>
              <a href="https://twitter.com/?lang=es"
                ><img src="../imgs/twitter.png" alt="enlace a twitter"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <h2>Or send a message</h2>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </main>
    <footer><p>adrian.95.koenig@gmail.com</p></footer>
    <script src="main.js"></script>
  </body>
</html>
