<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./src/imgs/pngwing.com.png" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Cv</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../imgs/pngwing.com.png" alt="logo oficial" />

        <div>
          <nav>
            <ul>
              <li>
                <a href="/index.html">Home</a>
                <a href="./aboutMe.html">About me</a>
                <a href="./portfolio.html">Portfolio</a>
                <a href="./contact.html">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="portfolio">
      <h1>My Proyects</h1>
      <div class="proyects">
        <div class="ecommerce">
          <h2>Ecommerce</h2>
        </div>
        <div class="iphone">
          <h2>Iphone Web</h2>
        </div>
        <div class="chat">
          <h2>Chat online</h2>
        </div>
      </div>
    </main>
    <footer><p>adrian.95.koenig@gmail.com</p></footer>
    <script src="main.js"></script>
  </body>
</html>
